@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
.headers {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

#theGreeting {
    text-shadow: 1px 2px black;
    font-size: 40px;
    position: relative;
    bottom: 10px;
}

#theDate {
    font-size: 15px;
    text-shadow: 1px 1px black;
    position: absolute;
    top: 10px;
    left: 10px;
}

.search {
    text-align: center;
    padding: 12px 20px;
}

input[type=text] {
    padding: 15px 20px;
    font-family: "Lucida Sans Unicode", serif;
    border-color: black;
    border-radius: 25px;
    box-shadow: 0 4px 7px 0 rgba(25, 26, 27, 0.28);
}

input[type=submit] {
    background-color: whitesmoke;
    padding: 12px 30px;
    font-family: "Lucida Sans Unicode", serif;
    border-radius: 13px;
}

#apps-collectively {
    position: fixed;
    bottom: 0;
    text-align: center;
    right: 20%;
    left: 20%;
    width: 60%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px 10px 0 0;
}

#apps-collectively li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

body {
    background-image: url("./backgrounds/space wallpaper.jpg");
    padding-bottom: 450px;
    background-size: 1920px 1080px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;

}