@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.body {
    -webkit-backface-visibility: hidden;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.headers {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

#theDate, #theWeather, #theInspirationalQuote {
    border-radius: 5px;
}

#theGreeting {
    transition: 1s;
    font-size: 40px;
    position: relative;
}

#theTime {
    transition: 1s;
    top: 70px;
    position: relative;
}

#theDate {
    transition: 1s;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px;
    /* background: rgba(148, 150, 153, 0.2) */
}

#theInspirationalQuote {
    transition: 1s;
    font-size: 17px;
    width: 1000px;
    -webkit-text-stroke: 0.2px black;
    position: relative;
    top: 250px;
    margin: auto;
    padding: 10px;
    text-shadow: 4px 4px 7px black;
    background: rgba(148, 150, 153, 0.5);
}

#theWeather {
    transition: 1s;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;
    /* background: rgba(148, 150, 153, 0.2) */
}

.search {
    text-align: center;
    position: absolute;
    bottom: 500px;
    left: 400px;
}

input[type=text] {
    transition: 1s;
    position: relative;
    height: 30px;
    padding: 15px 20px;
    font-family: "Lucida Sans Unicode", serif;
    border: initial;
    border-radius: 75px;
    box-shadow: 0 4px 7px 0 rgba(25, 26, 27, 0.5);
}

input[type=submit] {
    background: initial;
    transition: 1s;
    position: absolute;
    border: initial;
    font-size: 30px;
    height: 60px;
    width: 2em;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 10px;
}

#apps-collectively {
    transition: 1s;
    position: fixed;
    bottom: 0;
    text-align: center;
    right: 20%;
    left: 20%;
    width: 60%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px 10px 0 0;
}

#apps-collectively li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

#theDate:hover, #theWeather:hover {
    transition: 1s;
    background: rgba(148, 150, 153, 0.3);
}

#apps-collectively:hover, #theInspirationalQuote:hover {
    transition: 1s;
    background: rgba(148, 150, 153, 0.9);
}

#theGreeting:hover, #theTime:hover, #input[type=submit]:hover {
    transition: 1s;
    text-shadow: 4px 4px 6px black;
}

input[type=text]:hover {
    transition: 1s;
    box-shadow: 4px 4px 10px black;
}


.app:hover {
   opacity: 0.8;
}

.up:hover {
    border-top: 10px;
}

input[type=submit]:hover {
    background: rgba(148, 150, 153, 0.5)
}

.up {
    bottom: 15px;
    right: 15px;
    margin-left: 17px;
}

.rest {
    left: 10px;
}

#reddit {
    bottom: 15px;
    right: 15px;
}
